# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Sofia Reyes López- 202073130-6
* Bárbara Riveros Díaz- 202004117-2
* Benjamin Palma Robledo - 202073067-9

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:cacahuate@localhost:5432/tarea3BD

env: DATABASE_URL=postgresql://postgres:cacahuate@localhost:5432/tarea3BD

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [4]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea3BD',
   password="cacahuate"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x00000229E9C4E020; dsn: 'user=postgres password=xxx dbname=tarea3BD host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [24]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)


print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE facturas RESTART IDENTITY"
cursor.execute(query)
connection.commit()

test_list = [9,12,13,14,18,19,20,21,22,23,24,25,26,27,28]

tipos_pago = [
    ("Efectivo",), ("Debito",),("Credito",), ("Paypal",), ("Cheque",), ("Pagares",)
]

estado_tipo = [
    (True,),(False,)
]

n_facturas = 51

facturas = []
for _ in range(1, n_facturas):
    monto = r.randint(2000,100000)
    metodo = r.choice(tipos_pago)
    estado = r.choice(estado_tipo)
    fechav = generate_timestamp()
    fechaf = generate_timestamp()
    fechapago = generate_timestamp()
    id = id_posible = r.choice(test_list)
    facturas.append((monto,metodo, estado, fechaf, fechav, fechapago, id))


insert = "INSERT INTO facturas (monto_facturado, metodo_de_pago, estado, fecha_facturacion, fecha_vencimiento, fecha_hora_pago, id_persona) VALUES (%s, %s, %s, %s, %s, %s, %s)"

for factura in facturas:
    cursor.execute(insert, factura)

    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Todo Listo!

In [56]:
# Limpia la base de datos.
connection.commit()
personas = [18, 19,20,21,22,23,24,25,34]
canciones = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,27,28,29,30,32,33]
reproducciones = []
for _ in range(1, 20):
    ultima = generate_timestamp()
    id_persona = r.choice(personas)
    id_cancion = r.choice(canciones)
    cantidad = r.randint(2,100)
    reproducciones.append((id_persona, id_cancion, cantidad, ultima))

insert = "INSERT INTO reproducciones (id_persona, id_cancion, cantidad_reproducciones, ultima_reproduccion) VALUES (%s, %s, %s, %s)"

for reproduccion in reproducciones:
    cursor.execute(insert, reproduccion)


connection.commit()
print("Todo Listo!")

Todo Listo!

### Consulta top 10

In [ ]:
 %%sql
 SELECT Reproducciones.id_cancion, Reproducciones.cantidad_reproducciones, Canciones.nombre
 FROM Personas LEFT JOIN Reproducciones ON Personas.id = Reproducciones.id_persona INNER JOIN Canciones ON Reproducciones.id_cancion = Canciones.id
 WHERE Reproducciones.id_persona = 28
 ORDER BY Reproducciones.cantidad_reproducciones DESC

### Consulta top 10 GLOBAL

In [ ]:
 %%sql
 SELECT Canciones.nombre, Reproducciones.id_cancion, sum(Reproducciones.cantidad_reproducciones) AS "Suma"
 FROM Reproducciones INNER JOIN Canciones ON Reproducciones.id_cancion = Canciones.id
 group by Canciones.nombre, Reproducciones.id_cancion
ORDER BY "Suma" DESC

### Consulta usuario que no paga TOTAL

In [61]:
%%sql
SELECT sum(monto_facturado) FROM Facturas WHERE fecha_hora_pago > '2022-06-17'

 * postgresql://postgres:***@localhost:5432/tarea3BD
1 rows affected.

[(142390,)]