# Tarea 1 Bases de Datos 2022-1 Grupo 25

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Sofia Reyes López- 202073130-6
* Bárbara Riveros Díaz- 202004117-2
* Benjamin Palma Robledo - 202073067-9

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [ ]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [ ]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:passwd@localhost:5432/db-name

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [ ]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='dbname',
   password="passwd"
)

print(connection)
cursor = connection.cursor()

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [ ]:
%%sql
CREATE TABLE Usuarios (
    ID_usuario INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (ID_usuario)
);

### Tabla "Creadores"

In [ ]:
%%sql
CREATE TABLE Creadores (
    ID_creador INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY (ID_creador)
);

### Tabla "Tipos_NTF"

In [ ]:
%%sql
CREATE TABLE Tipos_NFT (
    ID_tipo INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY (ID_tipo)
);

### Tabla "NFT"

In [ ]:
%%sql
CREATE TABLE NFT (
    ID_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    id_tipo INTEGER,
    PRIMARY KEY (ID_nft),
    FOREIGN KEY (ID_creador) REFERENCES Creadores (ID_creador),
    FOREIGN KEY (id_tipo) REFERENCES Tipos_NFT (ID_tipo)
);

### Tabla "Precio NFT"

In [ ]:
%%sql
CREATE TABLE Precio_NFT (
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY (ID_nft, fecha),
    FOREIGN KEY (ID_nft) REFERENCES NFT (ID_nft)
);

### Tabla "Usuario tiene NFT"

In [ ]:
%%sql
CREATE TABLE Usuario_tiene_NFT (
    id_usuario INTEGER,
    id_nft INTEGER,
    PRIMARY KEY (id_usuario, id_nft),
    FOREIGN KEY (id_nft) REFERENCES NFT (ID_nft),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios (ID_usuario)
);

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [ ]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |
| ...| ...          |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:

%%sql

SELECT
    --Se seleccionan los atributos id_creador, nombre y apellido de la tabla 'Creadores'
    --'nombre' y 'apellido' se concatenan en nueva columna 'Creador'
    ID_creador AS "Id", nombre || ' ' || apellido "Creador" 
FROM 
    Creadores 
WHERE
    --La primera condicion es que la popularidad sea la maxima encontrada en la tabla 'Creadores' de un cierto estilo
    --En caso de que hayan 2 con el mismo indice de popularidad, aparecen ambos
    --La segunda condicion es que el estilo sea nuevamente el mismo (o sino saldrian de todos los estilos)
    popularidad = ( SELECT
                        MAX(popularidad) 
                    FROM 
                        Creadores 
                    WHERE 
                        estilo = 'Arte Moderno') 
    AND estilo = 'Arte Moderno';

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

SELECT
    --Se eligen los atributos 'nombre' de la tabla NFT, y se ocupa la función de agregado 'COUNT' junto 'DISTINCT'
    --con el atributo 'precio' de la tabla Precio_NFT, para que cuente los precios distintos que existen por NFT
    NFT.nombre AS "NFT", COUNT(DISTINCT Precio_NFT.precio) AS "Cantidad de precios"
FROM
    --Se unen las tablas Precio_NFT y NFT  (Se usa INNER JOIN porque no todos los NFTS tienen precio)
    Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
GROUP BY
    "NFT";

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    --Se elige 'nombre' del NFT de la tabla NFT y 'nombre' del tipo de NFT de la tabla Tipos_NFT
    NFT.nombre AS "NFT", Tipos_NFT.nombre AS "Tipo"
FROM
    --Se unen las tablas Precio_NFT, NFT y Tipos_NFT un INNER JOIN
    Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft INNER JOIN Tipos_NFT ON NFT.id_tipo = Tipos_NFT.ID_Tipo
ORDER BY
    --Se ordena segun el precio, del mas caro al mas barato
    Precio_NFT.precio DESC
    --Y se elige la primera fila (en caso de que existan mas de uno con el mismo precio, se muestran todos)
FETCH  FIRST 1 ROWS WITH TIES;

### Consulta 4
**Nombre y apellido del usuario con más numero de NFT.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    --Se elige 'nombre' y 'apellido' desde tabla Usuarios 
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
FROM (  SELECT 
            --Se selecciona el id_usuario de la tabla Usuario_tiene_NFT
            --Se utiliza la funcion de agregado 'COUNT' para contar cuantas veces se repite un mismo usuario (segun el ID)
            --El resultado de COUNT se guarda como 'cantidad'
            COUNT(id_usuario) AS cantidad , id_usuario
        FROM 
            Usuario_tiene_NFT
        GROUP BY 
            --El resultado se guarda como 'nueva_tabla'
            id_usuario  ) AS nueva_tabla
    --'nueva_tabla' se une con la tabla 'Usuarios' para obtener el nombre a traves de id_usuario
    INNER JOIN Usuarios ON nueva_tabla.id_usuario = Usuarios.ID_usuario
ORDER BY
    --Se ordena segun la cantidad de NFTs, de mayor a menor y se escoge la primera fila (en caso de repeticion, tambien lo muestra)
    nueva_tabla.cantidad DESC
FETCH  FIRST 1 ROWS WITH TIES;

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:

%%sql
SELECT
    contados.id AS "ID", contados.nft AS "NFT"
FROM (  SELECT
            NFT.ID_nft AS id, NFT.nombre AS nft, COUNT(DISTINCT Precio_NFT.precio) AS cantidad
        FROM 
            Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
        --WHERE
            --EN ESTE CASO, EL AÑO X ES 2016
            --Precio_NFT.fecha BETWEEN '2016-01-01' AND '2016-12-31'
        GROUP BY
            id, nft ) AS contados
ORDER BY
    contados.cantidad DESC
FETCH FIRST 1 ROWS WITH TIES;

### Consulta 6
**Usuarios que NO tienen un nft.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Dias |
|Markus | Person |
|... | ...| 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

    SELECT
        --Se elige 'nombre' y 'apellido' de la tabla Usuarios
        Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
    FROM 
        --Se unen las tablas Usuario_tiene_NFT y Usuarios
        --Se usa LEFT JOIN para que se puedan escoger los usuarios no tienen 'vacio' un id en Usuario_tiene_NFT
        Usuarios LEFT JOIN Usuario_tiene_NFT ON Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
    WHERE
        --Si no hay un id_NFT segun el id_usuario en la tabla Usuario_tiene_NFT entonces el usuario no tiene NFT
        Usuario_tiene_NFT.id_nft IS NULL
    ORDER BY
        Usuarios.ID_usuario;

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    --Se elige 'nombre' de la tabla que se crea mas abajo
    precios_ordenados.nombre AS "NFT"
FROM
    ( SELECT 
        *, RANK() OVER (PARTITION BY NFT.ID_nft ORDER BY Precio_NFT.fecha DESC)
        -- Se especifica como particionar las filas
        -- La tabla se divide según el ID del NFT, y ordena las filas según la fecha (de más nuevo a más antiguo) en cada partición
        -- Se agrega una nueva columna 'rank' en donde se mantiene el rango de la fila en su grupo (según ID)
    FROM
        NFT INNER JOIN Precio_NFT ON Precio_NFT.ID_nft = NFT.ID_nft
    WHERE
        -- En este caso el tipo es 1 (), se debe reemplazar el número para que se obtengan los resultados de otro tipo
        NFT.id_tipo = '1') AS precios_ordenados
WHERE 
    rank = 1
    --Se escogen solo los que sean número 1 en su partición, para poder obbtener el precio de la fecha más nueva
ORDER BY 
    precios_ordenados.precio DESC
    --Luego de obtener solo los precios actuales, se ordena segun precioy se escogen las primeras 4
FETCH FIRST 4 ROWS ONLY;

### Consulta 8
**Los precios de todos los NFT entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    --Se selecciona 'nombre' de la tabla NFT y 'precio' de la tabla Precio_NFT
    NFT.nombre AS "NFT", Precio_NFT.precio AS "Precio" 
FROM
    --Se unen las tablas Precio_NFT y NFT con un inner join
    Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
WHERE
    --Limites de fecha
    Precio_NFT.fecha BETWEEN '2017-01-01' AND '2019-12-31';

### Consulta 9 
**Creador al cual le han comprado más NFT's.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT 
    --Se selecciona 'nombre' y 'apellido' y se usa la funcion de agregacion 'COUNT' en el id del creador para ver cuantas veces se repite
    Creadores.nombre as "Nombre", Creadores.apellido AS "Apellido", COUNT(Creadores.ID_creador) AS "Cantidad"
FROM Usuario_tiene_NFT 
    --Se usa inner join porque hay NFTS que no han sido comprados, por lo tanto no tienen id_usuario
    INNER JOIN NFT ON Usuario_tiene_NFT.ID_nft = NFT.ID_nft
    INNER JOIN Creadores ON NFT.ID_creador = Creadores.ID_creador
GROUP BY
   "Nombre", "Apellido"
ORDER BY 
    --Se ordena segun la cantidad, de mayor a menor y se escoge el primero
    "Cantidad" DESC
FETCH  FIRST 1 ROWS WITH TIES;

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    ultimos_precios.nombre AS "NFT", ultimos_precios.precio AS "Valor"
FROM
    ( SELECT 
        *, RANK() OVER (PARTITION BY NFT.ID_nft ORDER BY Precio_NFT.fecha DESC)
        -- Se especifica como particionar las filas
        -- La tabla se divide según el ID del NFT, y ordena las filas según la fecha (de más nuevo a más antiguo) en cada partición
        -- Se agrega una nueva columna 'rank' en donde se mantiene el rango de la fila en su grupo (según ID)
    FROM
        Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
    WHERE
        -- En este caso el id del creador es 1, se debe reemplazar el número para que se obtengan los resultados de otro creador
        NFT.id_creador = '1') AS ultimos_precios
WHERE 
    rank = 1
    --Se escogen solo los que sean número 1 en su partición, para poder obbtener el precio de la fecha más nueva
ORDER BY 
    ultimos_precios.precio DESC
    --Luego de obtener solo los precios actuales, se ordena segun precio y se escoge la primera fila
FETCH  FIRST 1 ROWS WITH TIES;

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

SELECT
    --Se selecciona 'nombre' y 'apellido' de la tabla Usuario y se guarda como 'Usuario'
    --Se suman los precios actuales y se guarda como 'Dinero'
    Usuarios.nombre || ' ' || Usuarios.apellido "Usuario", SUM(ultimos_precios.precio) AS "Dinero"
FROM 
    (SELECT 
        *,RANK() OVER (PARTITION BY Usuario_tiene_NFT.ID_nft ORDER BY Precio_NFT.fecha DESC)
        -- Se especifica como particionar las filas, divide según el ID del NFT, y ordena las filas según la fecha (de más nuevo a más antiguo) en cada partición
        -- Se agrega una nueva columna 'rank' en donde se mantiene el rango de la fila en su grupo (según ID)
    FROM Precio_NFT
        --Se usa un inner join en Usuario_tiene_NFT y Precio_NFT
        INNER JOIN Usuario_tiene_NFT ON Usuario_tiene_NFT.id_nft = Precio_NFT.id_nft) AS ultimos_precios
        --La tabla nueva se guarda como ultimos_precios, y se une con la tabla Usuarios
        INNER JOIN Usuarios ON ultimos_precios.id_usuario = Usuarios.id_usuario
WHERE 
    --La condicion es que el rank sea 1, es decir, es la ultima fecha (ya que se ordeno de mas reciente a mas antiguo)
    rank = 1
GROUP BY
    "Usuario"
ORDER BY 
    --Se ordena desde el mayor a menor y se escoge la primera fila, en caso de repeticion de dinero, aparecen todos los que tengan ese valor
    "Dinero" DESC
FETCH  FIRST 1 ROWS WITH TIES;