# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Nombre Integrante 1 - Rol-1
* Nombre Integrante 2 - Rol-2
* Nombre Integrante 3 - Rol-3

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [1]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.1.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prettytable<1 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: decorator in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: stack-data in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: traitlets>=5 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: backcall in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: sqlalchemy in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (2.9.3)
Requirement already satisfied: names in c:\users\barba\appdata\local\programs\python\python310\lib\site-packages (0.3.0)

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [6]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:cacahuate@localhost:5432/tarea1

env: DATABASE_URL=postgresql://postgres:cacahuate@localhost:5432/tarea1

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [7]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea1',
   password="cacahuate"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x0000023A80366680; dsn: 'user=postgres password=xxx dbname=tarea1 host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [11]:
%%sql
CREATE TABLE Usuarios (
    ID_usuario INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (ID_usuario)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla "Creadores"

In [13]:
%%sql
CREATE TABLE Creadores (
    ID_creador INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY (ID_creador)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla "Tipos_NTF"

In [17]:
%%sql
CREATE TABLE Tipos_NFT (
    ID_tipo INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla "NFT"

In [19]:
%%sql
CREATE TABLE NFT (
    ID_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    id_tipo INTEGER,
    PRIMARY KEY (ID_nft),
    FOREIGN KEY (ID_creador) REFERENCES Creadores (ID_creador),
    FOREIGN KEY (id_tipo) REFERENCES Tipos_NFT (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla "Precio NFT"

In [138]:
%%sql
CREATE TABLE Precio_NFT (
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY (ID_nft, fecha),
    FOREIGN KEY (ID_nft) REFERENCES NFT (ID_nft)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla "Usuario tiene NFT"

In [139]:
%%sql
CREATE TABLE Usuario_tiene_NFT (
    id_usuario INTEGER,
    id_nft INTEGER,
    PRIMARY KEY (id_usuario, id_nft),
    FOREIGN KEY (id_nft) REFERENCES NFT (ID_nft),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios (ID_usuario)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [140]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |
| ...| ...          |

**Solución:** _Escriba aquí la descripción de su solución._

In [11]:

%%sql

SELECT
    --Se seleccionan los atributos id_creador, nombre y apellido de la tabla 'Creadores'
    --'nombre' y 'apellido' se concatenan en nueva columna 'Creador'
    ID_creador AS "Id", nombre || ' ' || apellido "Creador" 
FROM 
    Creadores 
WHERE
    --La primera condicion es que la popularidad sea la maxima encontrada en la tabla 'Creadores' de un cierto estilo
    --En caso de que hayan 2 con el mismo indice de popularidad, aparecen ambos
    --La segunda condicion es que el estilo sea nuevamente el mismo (o sino saldrian de todos los estilos)
    popularidad = ( SELECT
                        MAX(popularidad) 
                    FROM 
                        Creadores 
                    WHERE 
                        estilo = 'Arte Moderno') 
    AND estilo = 'Arte Moderno';

 * postgresql://postgres:***@localhost:5432/tarea1
2 rows affected.

[(11, 'Kerri Watkins'), (16, 'Cody Cross')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Escriba aquí la descripción de su solución._

In [9]:
%%sql

SELECT
    --Se eligen los atributos 'nombre' de la tabla NFT, y se ocupa la función de agregado 'COUNT' junto 'DISTINCT'
    --con el atributo 'precio' de la tabla Precio_NFT, para que cuente los precios distintos que existen por NFT
    NFT.nombre AS "NFT", COUNT(DISTINCT Precio_NFT.precio) AS "Cantidad de precios"
FROM
    --Se unen las tablas Precio_NFT y NFT  (Se usa INNER JOIN porque no todos los NFTS tienen precio)
    Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
GROUP BY
    "NFT";

 * postgresql://postgres:***@localhost:5432/tarea1
121 rows affected.

[('0NOCH0', 3),
 ('0NOZER0', 1),
 ('0xHile', 3),
 ('1-Love', 1),
 ('3D Me', 2),
 ('Aliens Abduction', 2),
 ('Animated Hard Art', 2),
 ('Anna Frozen Entertainers', 2),
 ('Art Dodger', 3),
 ('Art Lover Box', 1),
 ('Art Rumble', 1),
 ('Artful Antlers', 6),
 ('Artificial Rocks', 2),
 ('Arty Arts', 3),
 ('Atollon Coral', 5),
 ('Awesome Concept', 3),
 ('Bee Token', 1),
 ('Bit NFT', 1),
 ('Bitsy', 1),
 ('Bling Bits', 4),
 ('Blizz Blizzard', 2),
 ('Bloom of Flowers', 3),
 ('Blue Mood Chip', 2),
 ('Brush Point', 4),
 ('Burger Bits', 4),
 ('Busy Bats', 3),
 ('Butterfly Dust', 5),
 ('Calm Crows', 3),
 ('Cards of Polo', 2),
 ('Clever Chimp', 3),
 ('Clumsy Crocodiles', 2),
 ('Coin Dance', 3),
 ('Couch Potato', 4),
 ('Crumbs NFT', 1),
 ('Crypto Art Gallery', 2),
 ('Crypto Boom', 8),
 ('Crypto Club', 2),
 ('Crypto Diamonds', 2),
 ('Crypto Jackpot', 5),
 ('Crypto Kitties', 2),
 ('Crypto Kitties Of War', 1),
 ('Crypto Pigeon Race', 5),
 ('Crypto Potato', 1),
 ('Crypto Potluck', 2),
 ('Crypto Raptors', 3),
 ('Cryptokitty Ville', 4),
 ('Cryptonaut', 3),
 ('Crystalline Canyon', 3),
 ('Cyberboxer', 1),
 ('Cypherpunk Samurai', 1),
 ('Dapper Dinos', 1),
 ('Dark Horse Lady', 1),
 ('Darker Clouds', 3),
 ('Depressed Dragons', 1),
 ('Digi Gods', 1),
 ('Digital Unicorns', 2),
 ('Doge Pal', 1),
 ('Dose of Art', 4),
 ('Dreamy Imaginations', 1),
 ('Dust Rift', 6),
 ('Dust Sifter', 2),
 ('Elephant Treasure Hunt', 1),
 ('Elite Fur Dog Race Club', 3),
 ('Enthusiastic Elephants', 1),
 ('Fair Coin', 1),
 ('Fantasy Token', 1),
 ('Fight For The Title', 6),
 ('Fight Punks', 2),
 ('Flame Blade', 1),
 ('Flame Stinger', 3),
 ('Funny Frogs', 1),
 ('Futuristic Realism', 2),
 ('Giant Coin', 4),
 ('Headed Shark Attack', 2),
 ('Healthy Hedgehogs', 2),
 ('Hilarious Horses', 2),
 ('Hive City', 3),
 ('Koala Kickers', 7),
 ('Krypto Queen', 2),
 ('Light Embrace', 3),
 ('Madame Witch', 2),
 ('Meteorite NFT', 1),
 ('Mike Halloween Yodelers', 4),
 ('Minecraft Sphere', 4),
 ('Mint Chocolates', 4),
 ('Moonlit Butterfly', 3),
 ('Mountain of Clouds', 2),
 ('NFT Lord', 2),
 ('Non Fungible Nibbles', 3),
 ('Nova Auroras', 4),
 ('Outstanding Octopus', 1),
 ('Panther NFT', 2),
 ('Phonetic Phoenix', 4),
 ('Pink Sports Cars', 1),
 ('Qat Tree Unicorn', 4),
 ('Rainbows Ends', 2),
 ('Reflected Light', 1),
 ('Resilient Rats', 3),
 ('Rich Rhinos', 1),
 ('Rockin Crypto', 1),
 ('Secret Stones', 3),
 ('Silver Lining Pixy', 1),
 ('Spells of Genesis', 1),
 ('Sphere Art', 5),
 ('Techno Abstract Aesthetics', 3),
 ('The Gold Betta', 3),
 ('The Teacup Pomeranian', 1),
 ('Thunder NFT', 1),
 ('To The Moon', 1),
 ('Token Watchdogs', 3),
 ('Tokenized Superheroes', 3),
 ('Touchdown', 2),
 ('Ultimate Iconic Crypto (IUC)', 3),
 ('Ultimate League Of Paragon', 1),
 ('Ultra Cool Dogs', 5),
 ('United Crypto Token (UCT)', 2),
 ('Visionary Crypto', 2),
 ('Water Wiggle', 2),
 ('White Storm', 2),
 ('Women Power', 3),
 ('Wowoo World', 1)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [304]:
%%sql
SELECT
    --Se elige 'nombre' del NFT de la tabla NFT y 'nombre' del tipo de NFT de la tabla Tipos_NFT
    NFT.nombre AS "NFT", Tipos_NFT.nombre AS "Tipo"
FROM
    --Se unen las tablas Precio_NFT, NFT y Tipos_NFT un INNER JOIN
    Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft INNER JOIN Tipos_NFT ON NFT.id_tipo = Tipos_NFT.ID_Tipo
ORDER BY
    --Se ordena segun el precio, del mas caro al mas barato
    Precio_NFT.precio DESC
    --Y se elige la primera fila (en caso de que existan mas de uno con el mismo precio, se muestran todos)
FETCH  FIRST 1 ROWS WITH TIES;

 * postgresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[('Koala Kickers', 'Pixel')]

### Consulta 4
**Nombre y apellido del usuario con más numero de NFT.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [18]:
%%sql
SELECT
    --Se elige 'nombre' y 'apellido' desde tabla Usuarios 
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
FROM (  SELECT 
            --Se selecciona el id_usuario de la tabla Usuario_tiene_NFT
            --Se utiliza la funcion de agregado 'COUNT' para contar cuantas veces se repite un mismo usuario (segun el ID)
            --El resultado de COUNT se guarda como 'cantidad'
            COUNT(id_usuario) AS cantidad , id_usuario
        FROM 
            Usuario_tiene_NFT
        GROUP BY 
            --El resultado se guarda como 'nueva_tabla'
            id_usuario  ) AS nueva_tabla
    --'nueva_tabla' se une con la tabla 'Usuarios' para obtener el nombre a traves de id_usuario
    INNER JOIN Usuarios ON nueva_tabla.id_usuario = Usuarios.ID_usuario
ORDER BY
    --Se ordena segun la cantidad de NFTs, de mayor a menor y se escoge la primera fila (en caso de repeticion, tambien lo muestra)
    nueva_tabla.cantidad DESC
FETCH  FIRST 1 ROWS WITH TIES;

 * postgresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[('Jeanne', 'Robertson')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** _Escriba aquí la descripción de su solución._

In [17]:

%%sql
SELECT
    contados.id AS "ID", contados.nft AS "NFT"
FROM (  SELECT
            NFT.ID_nft AS id, NFT.nombre AS nft, COUNT(DISTINCT Precio_NFT.precio) AS cantidad
        FROM 
            Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
        --WHERE
            --EN ESTE CASO, EL AÑO X ES 2016
            --Precio_NFT.fecha BETWEEN '2016-01-01' AND '2016-12-31'
        GROUP BY
            id, nft ) AS contados
ORDER BY
    contados.cantidad DESC
FETCH FIRST 1 ROWS WITH TIES;

 * postgresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[(26, 'Crypto Boom')]

### Consulta 6
**Usuarios que NO tienen un nft.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Dias |
|Markus | Person |
|... | ...| 

**Solución:** _Escriba aquí la descripción de su solución._

In [16]:
%%sql

    SELECT
        --Se elige 'nombre' y 'apellido' de la tabla Usuarios
        Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
    FROM 
        --Se unen las tablas Usuario_tiene_NFT y Usuarios
        --Se usa LEFT JOIN para que se puedan escoger los usuarios no tienen 'vacio' un id en Usuario_tiene_NFT
        Usuarios LEFT JOIN Usuario_tiene_NFT ON Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
    WHERE
        --Si no hay un id_NFT segun el id_usuario en la tabla Usuario_tiene_NFT entonces el usuario no tiene NFT
        Usuario_tiene_NFT.id_nft IS NULL
    ORDER BY
        Usuarios.ID_usuario;

 * postgresql://postgres:***@localhost:5432/tarea1
129 rows affected.

[('Keith', 'Deleone'),
 ('Daniel', 'Abbey'),
 ('Maria', 'Mcauley'),
 ('Stephanie', 'Webb'),
 ('Gina', 'Baron'),
 ('Beatrice', 'Wooten'),
 ('Dolores', 'Walker'),
 ('Charles', 'Bishop'),
 ('Elaine', 'Harvey'),
 ('Paula', 'Kroells'),
 ('Anton', 'Jackson'),
 ('James', 'Spaulding'),
 ('Michael', 'Turner'),
 ('James', 'Cruz'),
 ('Joseph', 'Blake'),
 ('Barbara', 'Munro'),
 ('Bruce', 'Fields'),
 ('Vickie', 'Holman'),
 ('Rory', 'Chen'),
 ('Robert', 'Charter'),
 ('Jane', 'Smith'),
 ('Matthew', 'Beauregard'),
 ('Susan', 'Back'),
 ('Christine', 'Lawson'),
 ('Jessica', 'Dudley'),
 ('Keith', 'Snellen'),
 ('Myrtle', 'Burton'),
 ('James', 'Tucker'),
 ('Timothy', 'Almanzar'),
 ('Jessica', 'Littlejohn'),
 ('Edward', 'Burrell'),
 ('Frances', 'Friedt'),
 ('Marlin', 'Halley'),
 ('Cheryl', 'Acosta'),
 ('Vicki', 'Mull'),
 ('Harriett', 'Mitchell'),
 ('Maria', 'Rodriguez'),
 ('Gayla', 'Castaneda'),
 ('Kenneth', 'Cushman'),
 ('Melanie', 'Ardis'),
 ('Ricardo', 'William'),
 ('Chris', 'Weston'),
 ('Jenny', 'Case'),
 ('Dennis', 'Ingram'),
 ('Lillie', 'Never'),
 ('James', 'Lorona'),
 ('Donald', 'Savage'),
 ('Lynn', 'Rohrbacher'),
 ('Michael', 'Albrecht'),
 ('Dianne', 'Rauch'),
 ('Isabel', 'Rivers'),
 ('William', 'Yamada'),
 ('Florence', 'Bonifer'),
 ('Christopher', 'Stein'),
 ('Essie', 'Cormier'),
 ('Brenda', 'Crowder'),
 ('James', 'Whitlock'),
 ('Andrew', 'Brown'),
 ('Bret', 'Krenz'),
 ('Manuela', 'Lineberger'),
 ('Maria', 'Arguelles'),
 ('Ezra', 'Monroe'),
 ('Wilford', 'Padgett'),
 ('Peggy', 'Roy'),
 ('Margaret', 'Stannard'),
 ('Emanuel', 'Logsdon'),
 ('Lori', 'Hansen'),
 ('Dorothy', 'Howard'),
 ('Ashley', 'Sell'),
 ('Theresa', 'Muney'),
 ('Mia', 'Mcduffie'),
 ('Bruce', 'Borich'),
 ('Kimberly', 'Lorenzo'),
 ('Bettie', 'Pendarvis'),
 ('Anthony', 'Moore'),
 ('Wilma', 'Murphy'),
 ('Christopher', 'Dillon'),
 ('Michael', 'Mulloy'),
 ('Carmelina', 'Carden'),
 ('Renee', 'Koch'),
 ('Karen', 'Gonzalez'),
 ('Jessie', 'Tinoco'),
 ('Holli', 'Winters'),
 ('Karen', 'Klinger'),
 ('William', 'Hodges'),
 ('Patricia', 'Bagley'),
 ('Christopher', 'Bearden'),
 ('Darlene', 'Mitchell'),
 ('John', 'Stillson'),
 ('Kenneth', 'Grady'),
 ('Lisa', 'Smith'),
 ('Jay', 'Hughes'),
 ('Philip', 'Davis'),
 ('Jeffrey', 'Feliciano'),
 ('Margaret', 'Sayavong'),
 ('Paul', 'Miller'),
 ('Paul', 'Kemp'),
 ('Dina', 'Vandermeer'),
 ('Evelyn', 'Matsuno'),
 ('Mabel', 'Eudy'),
 ('Fannie', 'Mason'),
 ('Carla', 'Taylor'),
 ('Karen', 'Strohmeyer'),
 ('Jennifer', 'Sloss'),
 ('Joseph', 'Sakamoto'),
 ('Arthur', 'Lopez'),
 ('Christopher', 'Spirko'),
 ('Linda', 'Mitchell'),
 ('Patricia', 'Anderson'),
 ('Joe', 'Dumas'),
 ('Leslie', 'Bach'),
 ('Harold', 'Moore'),
 ('Robbie', 'Vollstedt'),
 ('Robert', 'Reynolds'),
 ('Wanda', 'Dahl'),
 ('Alexandra', 'Hawkins'),
 ('Agnes', 'Walker'),
 ('Gertrude', 'Ingram'),
 ('Douglas', 'Clark'),
 ('Dorothy', 'Watkins'),
 ('Jack', 'Mayo'),
 ('David', 'Little'),
 ('James', 'Perrone'),
 ('Donna', 'Johnson'),
 ('Donna', 'Shipley'),
 ('Ruth', 'Anderson'),
 ('Kathryn', 'Tucker'),
 ('Elizabeth', 'Zapata'),
 ('Faustina', 'Chapman')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** _Escriba aquí la descripción de su solución._

In [316]:
%%sql
SELECT
    --Se elige 'nombre' de la tabla que se crea mas abajo
    precios_ordenados.nombre AS "NFT"
FROM
    ( SELECT 
        *, RANK() OVER (PARTITION BY NFT.ID_nft ORDER BY Precio_NFT.fecha DESC)
        -- Se especifica como particionar las filas
        -- La tabla se divide según el ID del NFT, y ordena las filas según la fecha (de más nuevo a más antiguo) en cada partición
        -- Se agrega una nueva columna 'rank' en donde se mantiene el rango de la fila en su grupo (según ID)
    FROM
        NFT INNER JOIN Precio_NFT ON Precio_NFT.ID_nft = NFT.ID_nft
    WHERE
        -- En este caso el tipo es 1 (), se debe reemplazar el número para que se obtengan los resultados de otro tipo
        NFT.id_tipo = '1') AS precios_ordenados
WHERE 
    rank = 1
    --Se escogen solo los que sean número 1 en su partición, para poder obbtener el precio de la fecha más nueva
ORDER BY 
    precios_ordenados.precio DESC
    --Luego de obtener solo los precios actuales, se ordena segun precioy se escogen las primeras 4
FETCH FIRST 4 ROWS ONLY;

 * postgresql://postgres:***@localhost:5432/tarea1
4 rows affected.

[('1-Love',), ('Busy Bats',), ('Visionary Crypto',), ('Spells of Genesis',)]

### Consulta 8
**Los precios de todos los NFT entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [15]:
%%sql
SELECT
    --Se selecciona 'nombre' de la tabla NFT y 'precio' de la tabla Precio_NFT
    NFT.nombre AS "NFT", Precio_NFT.precio AS "Precio" 
FROM
    --Se unen las tablas Precio_NFT y NFT con un inner join
    Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
WHERE
    --Limites de fecha
    Precio_NFT.fecha BETWEEN '2017-01-01' AND '2019-12-31';

 * postgresql://postgres:***@localhost:5432/tarea1
110 rows affected.

[('Fight Punks', 89769),
 ('Crystalline Canyon', 96544),
 ('Animated Hard Art', 57690),
 ('Artificial Rocks', 11301),
 ('1-Love', 95937),
 ('Silver Lining Pixy', 13108),
 ('Elite Fur Dog Race Club', 77718),
 ('Fight For The Title', 23874),
 ('The Gold Betta', 7898),
 ('Rainbows Ends', 48015),
 ('Crypto Jackpot', 98561),
 ('Crypto Jackpot', 11983),
 ('Mint Chocolates', 24835),
 ('Panther NFT', 10438),
 ('Bling Bits', 70106),
 ('Women Power', 55498),
 ('Koala Kickers', 71887),
 ('Minecraft Sphere', 41443),
 ('Cypherpunk Samurai', 58309),
 ('Fight For The Title', 72643),
 ('Mint Chocolates', 53593),
 ('White Storm', 24911),
 ('Wowoo World', 6420),
 ('Art Lover Box', 30020),
 ('Crypto Boom', 35710),
 ('Pink Sports Cars', 90513),
 ('Non Fungible Nibbles', 65322),
 ('Rich Rhinos', 38517),
 ('Crypto Kitties Of War', 35282),
 ('Dust Rift', 74348),
 ('Elite Fur Dog Race Club', 75160),
 ('0NOCH0', 16691),
 ('Hilarious Horses', 10691),
 ('Headed Shark Attack', 50573),
 ('Bit NFT', 59798),
 ('Artful Antlers', 31601),
 ('Fight For The Title', 63773),
 ('Headed Shark Attack', 99626),
 ('Elephant Treasure Hunt', 526),
 ('Visionary Crypto', 52297),
 ('Water Wiggle', 63120),
 ('Ultimate Iconic Crypto (IUC)', 35986),
 ('Panther NFT', 58141),
 ('Touchdown', 84342),
 ('United Crypto Token (UCT)', 99221),
 ('Mint Chocolates', 1891),
 ('Bloom of Flowers', 69779),
 ('Artful Antlers', 24160),
 ('Bee Token', 97365),
 ('Darker Clouds', 75517),
 ('Non Fungible Nibbles', 18102),
 ('Fantasy Token', 9070),
 ('Fight For The Title', 22761),
 ('Flame Stinger', 72220),
 ('Water Wiggle', 94353),
 ('Mountain of Clouds', 18776),
 ('The Gold Betta', 94434),
 ('Butterfly Dust', 3699),
 ('Brush Point', 52768),
 ('Elite Fur Dog Race Club', 73283),
 ('Koala Kickers', 77084),
 ('0NOCH0', 92928),
 ('Reflected Light', 33816),
 ('Crypto Boom', 41006),
 ('Animated Hard Art', 97125),
 ('Atollon Coral', 3611),
 ('Futuristic Realism', 50676),
 ('Tokenized Superheroes', 71062),
 ('Women Power', 68282),
 ('0xHile', 56941),
 ('Techno Abstract Aesthetics', 40371),
 ('Ultra Cool Dogs', 72482),
 ('Mike Halloween Yodelers', 32587),
 ('Darker Clouds', 88124),
 ('Cards of Polo', 4328),
 ('Cryptokitty Ville', 4599),
 ('Bloom of Flowers', 49844),
 ('Hilarious Horses', 59503),
 ('Light Embrace', 9170),
 ('Healthy Hedgehogs', 82743),
 ('Calm Crows', 3017),
 ('Crypto Pigeon Race', 41677),
 ('Nova Auroras', 76092),
 ('Couch Potato', 26394),
 ('Artful Antlers', 95035),
 ('Moonlit Butterfly', 61803),
 ('Digital Unicorns', 75876),
 ('Atollon Coral', 551),
 ('Cyberboxer', 75332),
 ('Moonlit Butterfly', 79728),
 ('Bling Bits', 69909),
 ('Token Watchdogs', 9733),
 ('Butterfly Dust', 7707),
 ('Giant Coin', 57298),
 ('Healthy Hedgehogs', 59189),
 ('Qat Tree Unicorn', 40891),
 ('Crypto Potato', 77184),
 ('Giant Coin', 95322),
 ('Moonlit Butterfly', 26329),
 ('Secret Stones', 48598),
 ('Dust Sifter', 6506),
 ('Crypto Diamonds', 56477),
 ('Crypto Pigeon Race', 48294),
 ('Crypto Diamonds', 52865),
 ('Mint Chocolates', 63110),
 ('Visionary Crypto', 87501),
 ('Tokenized Superheroes', 85235),
 ('Minecraft Sphere', 95212),
 ('Dark Horse Lady', 86118),
 ('Crystalline Canyon', 95836)]

### Consulta 9 
**Creador al cual le han comprado más NFT's.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [14]:
%%sql
SELECT 
    --Se selecciona 'nombre' y 'apellido' y se usa la funcion de agregacion 'COUNT' en el id del creador para ver cuantas veces se repite
    Creadores.nombre as "Nombre", Creadores.apellido AS "Apellido", COUNT(Creadores.ID_creador) AS "Cantidad"
FROM Usuario_tiene_NFT 
    --Se usa inner join porque hay NFTS que no han sido comprados, por lo tanto no tienen id_usuario
    INNER JOIN NFT ON Usuario_tiene_NFT.ID_nft = NFT.ID_nft
    INNER JOIN Creadores ON NFT.ID_creador = Creadores.ID_creador
GROUP BY
   "Nombre", "Apellido"
ORDER BY 
    --Se ordena segun la cantidad, de mayor a menor y se escoge el primero
    "Cantidad" DESC
FETCH  FIRST 1 ROWS WITH TIES;

 * postgresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[('Kristina', 'Smuin', 8)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** _Escriba aquí la descripción de su solución._

In [13]:
%%sql
SELECT
    ultimos_precios.nombre AS "NFT", ultimos_precios.precio AS "Valor"
FROM
    ( SELECT 
        *, RANK() OVER (PARTITION BY NFT.ID_nft ORDER BY Precio_NFT.fecha DESC)
        -- Se especifica como particionar las filas
        -- La tabla se divide según el ID del NFT, y ordena las filas según la fecha (de más nuevo a más antiguo) en cada partición
        -- Se agrega una nueva columna 'rank' en donde se mantiene el rango de la fila en su grupo (según ID)
    FROM
        Precio_NFT INNER JOIN NFT ON Precio_NFT.ID_nft = NFT.ID_nft
    WHERE
        -- En este caso el id del creador es 1, se debe reemplazar el número para que se obtengan los resultados de otro creador
        NFT.id_creador = '1') AS ultimos_precios
WHERE 
    rank = 1
    --Se escogen solo los que sean número 1 en su partición, para poder obbtener el precio de la fecha más nueva
ORDER BY 
    ultimos_precios.precio DESC
    --Luego de obtener solo los precios actuales, se ordena segun precio y se escoge la primera fila
FETCH  FIRST 1 ROWS WITH TIES;

 * postgresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[('The Teacup Pomeranian', 81232)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [12]:
%%sql

SELECT
    --Se selecciona 'nombre' y 'apellido' de la tabla Usuario y se guarda como 'Usuario'
    --Se suman los precios actuales y se guarda como 'Dinero'
    Usuarios.nombre || ' ' || Usuarios.apellido "Usuario", SUM(ultimos_precios.precio) AS "Dinero"
FROM 
    (SELECT 
        *,RANK() OVER (PARTITION BY Usuario_tiene_NFT.ID_nft ORDER BY Precio_NFT.fecha DESC)
        -- Se especifica como particionar las filas, divide según el ID del NFT, y ordena las filas según la fecha (de más nuevo a más antiguo) en cada partición
        -- Se agrega una nueva columna 'rank' en donde se mantiene el rango de la fila en su grupo (según ID)
    FROM Precio_NFT
        --Se usa un inner join en Usuario_tiene_NFT y Precio_NFT
        INNER JOIN Usuario_tiene_NFT ON Usuario_tiene_NFT.id_nft = Precio_NFT.id_nft) AS ultimos_precios
        --La tabla nueva se guarda como ultimos_precios, y se une con la tabla Usuarios
        INNER JOIN Usuarios ON ultimos_precios.id_usuario = Usuarios.id_usuario
WHERE 
    --La condicion es que el rank sea 1, es decir, es la ultima fecha (ya que se ordeno de mas reciente a mas antiguo)
    rank = 1
GROUP BY
    "Usuario"
ORDER BY 
    --Se ordena desde el mayor a menor y se escoge la primera fila, en caso de repeticion de dinero, aparecen todos los que tengan ese valor
    "Dinero" DESC
FETCH  FIRST 1 ROWS WITH TIES;

 * postgresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[('Janice Delgado', 169793)]